body {
  background: #0e1013;
}

p {
  max-width: 480px;
  text-align: center;
  margin: 25% auto;
  font-family: 'Raleway', sans-serif;
  font-size: 200%;
  color: #fff;
}

p::after {
  content: '|';
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink .7s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}