<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://unpkg.com/vue"></script>
	
</head>
<body>
	<div id="app" class="btn">
		<button v-if="!clic" v-on:click="userClick">Teste</button>
		<button v-if="clic" v-on:click="userClick">Aguarde...</button>

	</div>
</body>
<script src="js/app.js" type="text/javascript">
	

</script>
</html>